---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html, body {
  height: 100%;
}

.container {
  min-height: calc(100% - 90px);
}

.navbar {
  margin-bottom: 0;
}

.footer {
  height: 45px;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right!important;
}

img.pull-left {
  margin-right: 4px;
}

img.pull-right {
  margin-left: 4px;
}

body {
  background: #ccc;
}

.content {
  background: white;
}

.well img {
  margin: 0 auto;
}

blockquote {
  font-family: 'Architects Daughter', cursive;
  background-image: url('/img/parchment.jpg');
  background-size: 100% auto;
  border-left: none;
  cite {
    display:block;
    text-align: right;
    padding-right: 20%;
    font-size: 130%;
  }
}

pre.language-ansiterm {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: keep-all;
  max-width: 80ch;
  background: #282828;
  color: #d8d8d8;
  padding: 10px;
  @media(min-width:768px){
    margin-left: 40px;
  }
}

code.language-ansiterm {
  // Base16 (https://github.com/chriskempson/base16)
  .red { color: #ab4642; }
  .green { color: #a15b6c; }
  .yellow { color: #dc9656; }
  .blue { color: #7cafc2; }
  .magenta { color: #ba8baf; }
  .cyan { color: #86cab9; }
  .white { color: #d8d8d8; }
}
