---
permalink: /
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include menu.html %}

    <div class="container content">
      <div class="jumbotron">
      <img class="img-responsive center-block" src="/img/gateway_logo_light.png">
      <p>
        Beyond this shimmering doorway are said to lie many realms of adventure and danger. If you feel you have what it takes to withstand the many challenges ahead simply take a deep breath and step through the GateWay...
      </p>
      </div>
      <h2>Message from the GateKeeper</h2>

      <blockquote>GateWay is a MUD, a text based multiplayer fantasy adventure game, that's been running on the Internet since around 1991 in one form or another. On this site you will find everything from a guide for new players to a brief history of the game, and even some information about the tools used to build the MUD and keep it running.
 
        If you haven't played before, welcome. If you have, welcome back.
        <cite>&mdash;Darkman</cite>
      </blockquote>
      
      <div class="row">
        <div class="col-sm-4 col-sm-push-8">
          <p class="well text-center">To log in, point your telnet or mud client at: <a href="telnet://gatewaymud.org:6969">gatewaymud.org 6969</a> or try this <a href="http://www.mudportal.com/play?host=gatewaymud.org&port=6969">web client</a></p>
          <div class="well text-center">
            <p>Don't forget to vote!</p>
            <p>
              <a href="http://www.mudconnect.com/cgi-bin/vote_rank.cgi?mud=GateWay">
                <img src="http://www.mudconnect.com/cgi-bin/get_rank_button.cgi?mud=GateWay" 
alt="Vote for GateWay on The Mud Connector!"></a>
              <a href="http://www.topmudsites.com/cgi-bin/topmuds/rankem.cgi?id=cougar">
                <img src="/img/vote_mud.gif" alt="Vote for GateWay on Top Mud Sites!"></a>
            </p>
          </div>
          <p class="well text-center hidden-xs">add twitter timeline here for site outage information? <a href="https://dev.twitter.com/web/embedded-timelines">Embedded Timelines</a></p>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
          {% assign postlimit = 10 %}
          {% for post in site.posts | limit:postlimit %}
          <h1>{{ post.title }}</h1>
          <p>
            {% if post.author %}by {{ post.author }}{% endif %}
            <i class="fa fa-clock-o"></i> {{ post.date | date: "%b %-d, %Y" }}
          </p>
          {{ post.content }}
          <hr>
          {% endfor %}
          {% assign len = site.posts | size %}
          {% if len > postlimit %}
          <a href="/news" class="btn btn-success" role="button">See More</a>
          {% endif %}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
