---
layout: gw
---
{% for post in paginator.posts %}
<h1>{{ post.title }}</h1>
<p>
  {% if post.author %}by {{ post.author }}{% endif %}
  <i class="fa fa-clock-o"></i> {{ post.date | date: "%b %-d, %Y" }}
</p>
{{ post.content }}
<hr>
{% endfor %}
{% if paginator.total_pages > 1 %}
<nav>
  <ul class="pagination">
    <li {% unless paginator.previous_page %}class="disabled"{% endunless %}>
      {% if paginator.previous_page == 1 %}
      <a rel="prev" href="{{ '/news' | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {% else %}
      <a rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {% endif %}
    </li>
    {% for page in (1..paginator.total_pages) %}
    <li {% if page == paginator.page %}class="active"{% endif %}>
      {% if page == 1 %}
      <a href="{{ '/news' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    </li>
    {% endfor %}
    <li {% unless paginator.next_page %}class="disabled"{% endunless %}>
      <a rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
