<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GateWay MUD</a>
      <!-- keep social links in top right corner on x-small screens -->
      <ul class="nav navbar-nav navbar-right social visible-xs">
        <li><a href="https://www.facebook.com/groups/gatewaymud"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/gatewaymud"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://plus.google.com/101648811094891185834"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav">
      <!-- if you want to add/remove any menu groups, only change this groups line -->
      {% assign groups = "Lore|How to Play|People|Places" | split: "|" %}
      {% for g in groups %}
        {% assign menugroup = g | downcase | remove: " " %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ g }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for p in site.pages %}
            {% if p.permalink != nil %}
            {% assign group_parts = (p.permalink | split: '/')[1] %}
            {% assign pagegroup = group_parts[1] %}
              {% if pagegroup == menugroup %}
                <li><a href="{{p.permalink}}">{% if p.menutitle != nil %}{{ p.menutitle }}{% else %}{{p.title}}{% endif %}</a></li>
              {% endif %}
            {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
    <!-- keep social links in top right corner on larger screens -->
    <ul class="nav navbar-nav navbar-right social hidden-xs">
      <li><a href="https://www.facebook.com/groups/gatewaymud"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/gatewaymud"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://plus.google.com/101648811094891185834"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</nav>