<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  // add ansiterm css class to the pre block containing the code block
  $('pre').has('code.language-ansiterm').addClass('language-ansiterm');
  // replace ansi color codes with html color styles
  $('code.language-ansiterm').each(function () {
    $(this).html($(this).html()
                        .replace('[31m', '<span class="red">')
                        .replace('[32m', '<span class="green">')
                        .replace('[33m', '<span class="yellow">')
                        .replace('[34m', '<span class="blue">')
                        .replace('[35m', '<span class="magenta">')
                        .replace('[36m', '<span class="cyan">')
                        .replace('[37m', '<span class="white">')
                        .replace(/\[(\d+;)*0m/g, '</span>'));
  });
</script>
