<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include menu.html %}

    <div class="container content">
      {{content}}
      <div class="push"></div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>